.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes full viewport height */
}

.app-main-content {
  flex-grow: 1; /* Allows main content to expand and fill available space */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content for now */
  text-align: center;
}